@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,400;1,700&display=swap");
@media (max-width: 576px) {
  .main-supplements .supplements-title h1 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 35px;
    color: #ffffff;
  }
  .nutrition .banner-nutrition h1 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 35px;
    color: #ffffff;
  }
  .main-box .contact-banner h1 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 35px;
    color: #ffffff;
  }
  .main-box .contact-banner p {
    color: #ffffff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .hero h1 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 35px;
    color: #ffffff;
  }
  .home .hero p {
    color: #ffffff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us .aboutus-description h1 {
    font-size: 35px;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
  }
  .boxesFooter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 8px;
  }
  #mainForm {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #mainForm button {
    margin: 12px;
  }
  main img {
    object-fit: cover;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.card-supplements {
  margin: 15px 5px;
}
.card-supplements h3 {
  font-size: 20px;
  color: #000000;
}
.card-supplements a {
  width: 100%;
  background-color: #000000;
  color: white;
  border-radius: 12px;
  border-color: #000000;
}
.card-supplements a:hover {
  background-color: rgb(121, 121, 121);
  color: #000000;
  border-color: #000000;
}
.card-supplements p {
  font-style: normal !important;
  color: #000000;
}

.card-nutrition {
  margin: 15px 5px;
}
.card-nutrition h3 {
  font-size: 20px;
  color: #000000;
}
.card-nutrition a {
  width: 100%;
  background-color: #000000;
  color: white;
  border-radius: 12px;
  border-color: #000000;
}
.card-nutrition a:hover {
  background-color: rgb(121, 121, 121);
  color: #000000;
  border-color: #000000;
}
.card-nutrition p {
  font-style: normal !important;
  color: #000000;
}

.photoContact img {
  object-fit: cover;
}

.contactWallpaper {
  text-align: center;
  background-color: grey;
  font-style: italic;
  font-weight: bold;
  color: #000000;
}

.contactSection {
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
}
.contactSection h2 {
  font-weight: bold;
  font-size: 30px;
}
.contactSection p {
  font-size: 20px;
  font-weight: lighter;
}

#contactForm {
  background-color: rgb(57, 57, 57);
  color: #000000;
  padding: 10px 15px;
}
#contactForm button {
  background-color: #000000;
  color: white;
  border-color: #000000;
  border-radius: 10px;
}

.aboutUs img {
  object-fit: cover;
}

.aboutUsdescription {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  justify-content: center;
}
.aboutUsdescription h2 {
  font-size: 30px;
  font-weight: bold;
}
.aboutUsdescription p {
  font-size: 15px;
  font-weight: lighter !important;
  font-style: normal !important;
}

header img {
  width: 50px;
}
header .btn-white {
  background-color: #000000;
  color: #ffffff;
}
header:hover {
  background-color: #ffffff;
  color: #000000;
}
header .me-2 {
  border-color: #000000;
  border-radius: 12px;
}
header .nav-item a {
  font-weight: bold;
}

.home .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px 40px;
  background-image: url("https://wallpaperaccess.com/full/8286348.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home h1 {
  color: #ffffff;
  font-size: 80px;
  margin-top: 60px;
}
.home p {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 30px;
}

.product-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.product-section .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-section .card-body h2 {
  color: #000000;
  font-size: 24px;
  cursor: pointer;
}

.supplements-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  background-image: url("https://www.arkbh.com/wp-content/uploads/2023/08/Mixing-Antidepressants-Pre-Workout-Supplements-_-Safety-Risks.jpg");
}
.supplements-title h1 {
  color: #ffffff;
  font-size: 80px;
}

.banner-nutrition {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  background-image: url("https://thestayathomechef.com/wp-content/uploads/2020/05/Whole-Wheat-Pancakes-2-scaled.jpg");
}
.banner-nutrition h1 {
  color: #ffffff;
  font-size: 80px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#navPage a {
  background-color: #000000;
  color: #ffffff;
}
#navPage a:hover {
  background-color: #000000;
  color: brown;
}

.contact-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  background-image: url("https://onnits3.imgix.net/product-page/alpha-brain/refresh-full/alpha-brain-bottle--wide.png?fm=pjpg&auto=compress,format");
}
.contact-banner h1 {
  color: #ffffff;
  font-size: 80px;
}
.contact-banner p {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 30px 0;
}

.aboutus-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  background-image: url("https://boxlifemagazine.com/wp-content/uploads/2023/05/does-pre-workout-go-bad.png");
}
.aboutus-description h1 {
  color: #ffffff;
  font-size: 80px;
}

.main-about-us {
  background-color: rgb(105, 105, 105);
}

.aboutus-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutus-text h3 {
  color: #ffffff;
  font-size: 26px;
  margin: 20px;
}
.aboutus-text p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.aboutus-section {
  padding: 80px 0;
}
.aboutus-section .card-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.aboutus-section .card-aboutus img {
  width: 15%;
  filter: invert(99%) sepia(31%) saturate(6259%) hue-rotate(180deg) brightness(114%) contrast(103%);
}
.aboutus-section .card-aboutus h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  color: #ffffff;
}
.aboutus-section .card-aboutus p {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}

footer {
  background-color: rgb(25, 24, 24);
  color: rgb(115, 114, 114);
  width: 100%;
  font-size: 15px;
  padding: 8px 0;
}
footer .boxesFooter {
  padding: 1px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 25px;
}
footer .boxesFooter .listOne {
  justify-content: flex-start;
  text-decoration: none;
  font-size: 12px;
  list-style: none;
  padding: 0;
}
footer .boxesFooter .listOne .title {
  font-size: 16px;
  font-weight: bold;
}
footer .social-media img {
  width: 40px;
  height: 40px;
  filter: invert(100%) sepia(16%) saturate(384%) hue-rotate(204deg) brightness(117%) contrast(100%);
}

.btn, .primary-btn {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
}

.primary-btn {
  background-color: #ffffff;
  color: #000000;
}
.primary-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
