// GENERAL
@import "./general/variables.scss";
@import "./general/reset.scss";

// PAGINAS
@import "./paginas/index.scss";
@import "./paginas/supplements.scss";
@import "./paginas/nutrition.scss";
@import "./paginas/contact.scss";
@import "./paginas/aboutus.scss";

//LAYOUT
@import "./layout/header.scss";
@import "./layout/main.scss";
@import "./layout/footer.scss";
