@mixin cardtitle{
    font-size: 20px;
    color:$seconadry-color;
}
@mixin cardlink{
    width: 100%;
        background-color:$seconadry-color;
        color:white;
        border-radius: 12px;
        border-color:$seconadry-color;
        &:hover{
        background-color:rgb(121, 121, 121);
        color:$seconadry-color;
        border-color:$seconadry-color;
}
}
@mixin cardtext{
        font-style: normal !important;
        color:$seconadry-color;
}
@mixin bannerpages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}