$vista: mobile;

@if $vista == mobile {
    @media (max-width:576px){
        .main-supplements{
            .supplements-title h1{
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 35px;
                color:white;
            } 
        } 
        .nutrition{
            .banner-nutrition h1{
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 35px;
                color:white; 
            }
        }
        .main-box{
            .contact-banner{
                h1{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    font-size: 35px;
                    color:white;
                }
                p{
                    color: white;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;  
                }
            }
        }
        .home{
            .hero{
            h1{
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 35px;
                color:white;
            }
            p{
                color: white;
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        }
        .about-us{
            .aboutus-description{
                h1{
                    font-size:35px;
                    color:white; 
                    display: flex;
                    text-align: center;
                    align-items: center;
                }
            }
        }
        .contact-section{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin: 30px 0;
        }
        .boxesFooter{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0 8px;
        }
        #mainForm{
            flex-direction: column;
            flex-wrap: wrap;
        }
        #mainForm button{
            margin: 12px;
        }
        main img{
            object-fit: cover;
        }
    }

}@else{
    .boxesFooter{
        padding: 1px;
        justify-content:space-evenly;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 25px;
        .listOne{
            text-align: center;
            justify-content: flex-start;
            text-decoration: none;
            font-size: 12px;
            list-style: none;
            padding: 0;
            .title{
                font-size:16px;
                font-weight: bold;
        }
    }
    
    }
    .social-media img{
        width: 40px;
        height: 40px;
    }
}
