.aboutUs{
    img{
        object-fit: cover;  
    }
}
.aboutUsdescription{
    background-color:white;
    color:black;
    text-align: center;
    justify-content: center;
    h2{
        font-size: 30px;
        font-weight: bold;
    }
    p{
        font-size: 15px;
        font-weight: lighter !important;
        font-style: normal !important;
        
    }

}