.photoContact img{
    object-fit: cover;
}
.contactWallpaper{
    text-align: center;
    background-color: grey;
    font-style: italic;
    font-weight: bold;
    color: black;
}
.contactSection{
    text-align: center;
    justify-content: center;
    background-color: white ;
    h2{
        font-weight: bold;
        font-size: 30px;
    }
    p{
        font-size: 20px;
        font-weight: lighter;
    }
}
#ContactForm{
    background-color: rgb(57, 57, 57);
    color: black;
    padding: 10px 15px;
    button{
        background-color: black;
        color: white;
        border-color: black;
        border-radius: 10px;
    }
}