#mainForm{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        background-color:black;
        border-color:black;
        
    }input{
        border-color: black;
    }

    .mb-3{
        padding: 0 15px;
    }
}