header{
    a.container-fluid{
        font-size: 18px;
        font-weight: lighter;
        display: flex;
        justify-content: center;
    }
    a.navbar-brand{
        font-size: 35px;
    }
}