header{
    img{
        width: 50px;
    }
    .btn-white{
        background-color: black;
        color:white;
    }&:hover{
        background-color: white;
        color: black;
    }
    .me-2{
        border-color: black;
        border-radius: 12px;
    }
    .nav-item{
        a{
            font-weight:bold;
        }
    }
}