header{
    img{
        width: 50px;
    }
    .btn-white{
        background-color:$seconadry-color;
        color:$primary-color;
    }&:hover{
        background-color:$primary-color;
        color:$seconadry-color;
    }
    .me-2{
        border-color:$seconadry-color;
        border-radius: 12px;
    }
    .nav-item{
        a{
            font-weight:bold;
        }
    }
}