.btn{
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border:0;
}

.primary-btn{
    @extend .btn;
    background-color:$primary-color;
    color:$seconadry-color;
    &:hover{
    background-color:$seconadry-color;
    color:$primary-color;
}
}